<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/scroolbar.css">
    <link rel="stylesheet" href="css/main-theme.css">
    <title>База данных</title>
</head>
<body class="container-fluid">
<div th:replace="templates::navbar"></div>
<div class="row">
    <!-- Боковая панель -->
    <div th:replace="templates::sidepanel"></div>
    <!-- Контент -->
    <div class="col-md-9 m-0 pl-2 pr-2">
        <div class="tab-content bg-light border p-4">
            <div class="text-center"><h4>Различные предметы</h4></div>
            <table class="table table-responsive">
                <tbody class="table-striped">
                <tr th:each="i : ${items}">
                    <td class="text-justify" th:text="${i.getName()}">...</td>
                    <td class="text-justify" th:text="${i.getDescription()}">...</td>
                    <td class="text-justify" th:text="${i.getPrice()}">...</td>
                    <td class="text-justify" th:text="${i.getWeight()}">...</td>
                </tr>
                </tbody>
            </table>
            <form method="post" action="addItem">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input class="form-control" name="name" id="name" placeholder="Введите название"/>
                </div>
                <!-- Описание -->
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea class="form-control" name="description" id="description"
                              placeholder="Введите описание"></textarea>
                </div>
                <!-- price and weight -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 row m-0">
                            <label for="price" class="col-6 m-0 p-0">Цена в мм</label>
                            <input type="number" name="price" id="price" class="form-control col-6" placeholder="0"/>
                        </div>
                        <div class="col-md-6 row m-0">
                            <label for="weight" class="col-6 m-0 p-0">Вес</label>
                            <input type="number" name="weight" id="weight" class="form-control col-6" placeholder="0"/>
                        </div>
                    </div>
                </div>
                <button type="submit" class=" mt-3 btn btn-primary  btn-block">Добавить</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="templates::footer"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>