<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/scroolbar.css">
    <link rel="stylesheet" href="css/main-theme.css">
    <title>База данных</title>
</head>
<body class="container-fluid">
<div th:replace="templates::navbar"></div>
<div class="row">
    <!-- Боковая панель -->
    <div th:replace="templates::sidepanel"></div>
    <!-- Контент -->
    <div class="col-md-9 m-0 pl-2 pr-2">
        <div class="tab-content bg-light border p-4">
            <div class="text-center"><h4>Предыстории</h4></div>
            <table class="table table-responsive">
                <tbody class="table-striped">
                <tr th:each="i : ${backstories}">
                    <td class="text-justify" th:text="${i.getName()}">...</td>
                    <td class="text-justify" th:text="${i.getDescription()}">...</td>
                    <td class="text-justify" th:text="${i.getItems()}">...</td>
                    <td class="text-justify" th:text="${i.getAbilities()}">...</td>
                </tr>
                </tbody>
            </table>
            <form method="post" action="addBackstory">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input name="name" class="form-control" id="name" placeholder="Введите название"/>
                </div>
                <!-- Описание -->
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea name="description" class="form-control" id="description"
                              placeholder="Введите описание"></textarea>
                </div>

                <!-- список свойств под спойлером -->
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Таблица владений -->
                    <div class="card">
                        <div class="card-header  m-0 p-0" role="tab" id="headingOne">
                            <p class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne" class="list-group-item">
                                    Владения
                                </a>
                            </p>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <table class="table table-sm table-responsive">
                                    <tbody>
                                    <tr th:each="i : ${abilities}">
                                        <td><input name="abilities" th:value="${i.getName()}" type="checkbox"/></td>
                                        <td class="text-justify" th:text="${i.getName()}">...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Таблица предметов-->
                    <div class="card">
                        <div class="card-header  m-0 p-0" role="tab" id="headingTwo">
                            <p class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="true"
                                   aria-controls="collapseTwo" class="list-group-item">
                                    Предметы
                                </a>
                            </p>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <table class="table table-sm table-responsive">
                                    <tbody>
                                    <tr th:each="i : ${items}">
                                        <td><input th:value="${i.getName()}" name="item" type="checkbox"/></td>
                                        <td class="text-justify" th:text="${i.getName()}">...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class=" mt-3 btn btn-primary  btn-block">Добавить</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="templates::footer"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>